
.description{
	background: linear-gradient(to right, rgba(0,0,0, 0.75),  rgba(0,0,0, 0.75)),  url(../images/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: -1;
}


.burger {
	display: flex;
	justify-content: flex-end;
	margin-top: calc(1vw + 1vh);
	padding-right: 25px;
	font-size: calc(1vw + 2vh);
	width: 100%;
}

.text{
	color: white;
}

.text:hover{
	color:red;
	font-size: calc(1.5vw + 2vh);
}

.about {
	margin: calc(1vw + 1vh) 0;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	font-size: calc(1vw + 2vh);
	height: auto;
	width: 100%;
}

.about .info {
	margin-top: calc(1vw + 1vh);
	text-align: justify;
	padding: 0 calc(7vw + 7vh);
}

.skills {
	font-size: calc(1vw + 2vh);
	margin-top: calc(1vw + 1vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
}

.skills .heading2{
	margin: calc(1vw + 2vh) 0;
}


.skillimg {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
	align-content: space-between;
	justify-content:center;
	width: 80%;
	height: auto;
}

.skillimg img {
	margin: 0 calc(1vw + 2vh) calc(1vw + 2vh) calc(1vw + 2vh);
}


.hoverimg{
	height: auto;
	max-width: calc(2vw + 3vh);
}

.hoverimg2{
	height: auto;
	max-width: calc(2vw + 5vh);
}

.hoverimg3{
	height: auto;
	max-width: calc(2vw + 10vh);
}

