.capstone{
	background: url(../images/pexels-photo-110854.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -2;
	position: absolute;
	width: 100%;
}


.heading {
	display: flex;
	justify-content: center;
	margin: calc(0.5vw + 1vh) 0;
	font-size: calc(1vw + 2vh);
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	
}


.proj{
    position:relative;
    width:calc(20vw + 20vh);
    height:auto;
    float:left;
    transition:0.5s;
	overflow:hidden;
	margin: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh) 0 calc(0.5vw + 0.5vh);
  }
  
  .proj:hover {
	width:calc(21vw + 21vh);
    height:auto;
  }

  .proj:after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    content:attr(data-text) "\A" attr(data-text2) "\A" attr(data-text3) "\A" attr(data-text4);
    transition:0.5s;
	background-color: rgba(0,0,0,0.6);
    transform:translateY(100%);
	opacity:0;
	width:calc(20vw + 20vh);
    height:auto;
	margin: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh) 0 calc(0.5vw + 0.5vh);
	font-size: calc(1vw + 2vh);
	white-space: pre-wrap;
  }
  
  .proj:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }

.gitlab{
	width:calc(2vw + 2vh);
    height:auto;
}

.div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
