.contact{
	background: url(../images/pexels-photo-552779.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: -3;
	width: 100%;
}

.pitch{
	font-size: calc(2vw + 7vh);
	margin-top: 15vh;
	text-align: center;
}


.contacts {
	margin-top: 3vw;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	justify-content: center;
}

.gmail, .linkedin {
	font-size: calc(1vw + 1vh);
	margin: 0 calc(1vw + 2.5vh);
	width: calc(10vw + 10vh);
	padding: calc(0.5vw + 0.5vh) 0;
	height: auto;
}

.gmail{
	background: #D44638;
	display: flex;
	align-items: center;
	justify-content: center;
}

.linkedin{
	background: #0e76a8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.resume{
	font-size: calc(1vw + 3vh);
	margin-top: calc(1vw + 2.5vh);
	display: flex;
	align-items: center;
	justify-content: center;
}

