.navigation{
	display: flex;
	flex-direction: column;
	background: rgba(211, 211, 211, 0.9);
	height: 100vh;
	position: absolute;
	z-index: 1;
	width: 100%
}

.close{	
	
	display: flex;
	justify-content: flex-end;
}


.cls{
	font-size: calc(1vw + 2vh);
}

.navmod{
	margin-top: 15vh;
	font-size: calc(2vw + 4vh);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Btn {
	color: black;
}

.Btn:hover{
	color:red;
	font-size: 110%;
}


