* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.page {
	height: 100vh;
	font-family: 'Ropa Sans', sans-serif;
}

.intro {
	background: url(../images/pexels-photo-2264753.jpeg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.head, .content, .arrow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	text-align: center;
}

.head, .content {
	flex-direction: column;
}

.head{
	margin-top: 20vh;
	font-size:  calc(4vw + 4vh);
}


.content {
	margin: 2vh 0;
	font-size:  calc(2vw + 2vh);
}

.content p{
	margin: 0.2vw 0;
}

#definition{
	width: 50%
}

.arrow {
	font-size:  calc(2vw + 2vh);
	margin-top: calc(1vw + 6vh);

}

.arrow img {
	width: calc(3vw + 4vh);
	height: auto;
	cursor: pointer;
}

#name, #speech, #type, #definition, #arrow {
	display: none;
	opacity: hidden;
}

a {
	text-decoration: none;
	font-family: 'Ropa Sans', sans-serif;
}

a:hover {
	color: red;
}





@media only screen and (max-width: 1200px){
	.intro {
		background:  linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(../images/pexels-photo-279467.jpeg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
